<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uml.dao.ListingMapper">

    <!-- 根据民宿昵称查询民宿 -->
    <select id="searchListingByKey" parameterType="map" resultType="com.uml.model.Listing">
        SELECT l.id, l.title, l.price
        FROM listings l
                 JOIN districts d ON l.district_id = d.id
                 JOIN cities c ON d.city_id = c.id
                 JOIN provinces p ON c.province_id = p.id
        WHERE (l.title LIKE CONCAT('%', #{key}, '%') OR #{key} IS NULL);
    </select>

    <!-- 根据区名或民宿昵称查询民宿 -->
    <select id="searchListingByKeyOrDistrict" parameterType="map" resultType="com.uml.model.Listing">
        SELECT l.id, l.title, l.price
        FROM listings l
                 JOIN districts d ON l.district_id = d.id
                 JOIN cities c ON d.city_id = c.id
                 JOIN provinces p ON c.province_id = p.id
        WHERE d.name = #{district}
          AND (l.title LIKE CONCAT('%', #{key}, '%') OR #{key} IS NULL);
    </select>

    <!-- 根据市名或民宿昵称查询民宿 -->
    <select id="searchListingByKeyOrCity" parameterType="map" resultType="com.uml.model.Listing">
        SELECT l.id, l.title, l.price
        FROM listings l
                 JOIN districts d ON l.district_id = d.id
                 JOIN cities c ON d.city_id = c.id
                 JOIN provinces p ON c.province_id = p.id
        WHERE c.name = #{city}
          AND (l.title LIKE CONCAT('%', #{key} , '%') OR #{key} IS NULL);
    </select>

    <!-- 根据省名或民宿昵称查询民宿 -->
    <select id="searchListingByKeyOrProvince" parameterType="map" resultType="com.uml.model.Listing">
        SELECT l.id, l.title, l.price
        FROM listings l
                 JOIN districts d ON l.district_id = d.id
                 JOIN cities c ON d.city_id = c.id
                 JOIN provinces p ON c.province_id = p.id
        WHERE p.name = #{province}
          AND (l.title LIKE CONCAT('%', #{key}, '%') OR #{key} IS NULL);
    </select>

    <!-- 根据民宿ID获取民宿评分平均值 -->
    <select id="findScoreByListingId" parameterType="Integer" resultType="Integer">
        SELECT AVG(mark.score) AS average_score
        FROM mark
        WHERE mark.listing_id = #{id}; -- 替换为具体的民宿ID
    </select>

    <!-- 依据用户点击的id查询民宿详情 -->
    <select id="searchDetailsByListingId" parameterType="Integer" resultType="com.uml.model.Listing">
        SELECT *
        FROM listings
        WHERE id = #{id}
    </select>

    <!-- 获取所有民宿信息，用于主页展示 -->
    <select id="getAllListing" resultType="com.uml.model.Listing">
        SELECT id, district_id, title, description, price, created_at
        FROM listings
    </select>

    <!-- 通过id检查民宿是否已存在 -->
    <select id="checkListingExists" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM listings
        WHERE id = #{id}
    </select>
</mapper>