<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uml.dao.UserMapper">
    <!-- 检查用户名是否已存在 -->
    <select id="checkUsernameExists" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE username = #{username}
    </select>

    <!-- 检查邮箱是否已存在 -->
    <select id="checkEmailExists" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE email = #{email}
    </select>

    <!-- 注册新用户 -->
    <insert id="insertUser" parameterType="com.uml.model.User">
        INSERT INTO users (username, password, email)
        VALUES (#{username}, #{password}, #{email})
    </insert>

    <!-- 用户名登录匹配密码 -->
    <select id="findUserByUsername" parameterType="string" resultType="com.uml.model.User">
        SELECT *
        FROM users
        WHERE username = #{username}
    </select>

    <!-- 更新用户的个人信息 -->
    <update id="updateUser" parameterType="com.uml.model.User">
        UPDATE users
        SET username = #{username}, email = #{email}
        WHERE id = #{id}
    </update>

    <!-- 检查用户是否已存在 -->
    <select id="checkUserExists" parameterType="Integer" resultType="Integer">
        SELECT COUNT(*)
        FROM users
        WHERE id = #{id}
    </select>

    <!-- 用户ID获取用户信息 -->
    <select id="findUserById" parameterType="Integer" resultType="com.uml.model.User">
        SELECT *
        FROM users
        WHERE id = #{id}
    </select>

</mapper>